<!DOCTYPE html>
<html>
<head>
    <title>Bank of India</title>
</head>
<body style="text-align:center; font-family:Arial; background:white;">

<h1 style="color:orange;">BANK OF INDIA</h1>

<h2>Login</h2>
<form action="/login" method="post">
    <input name="username" placeholder="Username"><br><br>
    <input name="password" type="password" placeholder="Password"><br><br>
    <button style="background:blue; color:white;">Login</button>
</form>

<h2>Create Account</h2>
<form action="/signup" method="post">
    <input name="username" placeholder="Username"><br><br>
    <input name="password" type="password" placeholder="Password"><br><br>
    <button style="background:blue; color:white;">Signup</button>
</form>

<br><br>

<div style="border:1px solid gray; padding:15px;">
    💰 Loan Available! Get up to ₹1,00,000  
</div>

</body>
</html>